notebook/models/
*.tar.gz
.ipynb_checkpoints
keras/data/
keras/helper.py
keras/logs/
keras/saved_model/Magma_frozen_log
keras/saved_model/TensorRT_frozen_log

object_detection/trt_logs/
object_detection/logs/
object_detection/test_images/
object_detection/models
